@font-face {
  font-family: "iconfont"; /* Project id 2941921 */
  src: url('iconfont.woff2?t=1655438491581') format('woff2'),
       url('iconfont.woff?t=1655438491581') format('woff'),
       url('iconfont.ttf?t=1655438491581') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit1:before {
  content: "\e7bb";
}

.icon-share1:before {
  content: "\e86f";
}

.icon-set:before {
  content: "\e76c";
}

.icon-delete1:before {
  content: "\e717";
}

.icon-user1:before {
  content: "\e7af";
}

.icon-delete2:before {
  content: "\e7c3";
}

.icon-collection:before {
  content: "\e79d";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-rocket:before {
  content: "\e7ce";
}

.icon-success-filling:before {
  content: "\e70d";
}

.icon-warning-filling:before {
  content: "\e70e";
}

.icon-folder-filling:before {
  content: "\e70f";
}

.icon-map-filling:before {
  content: "\e710";
}

.icon-prompt-filling:before {
  content: "\e711";
}

.icon-meh-filling:before {
  content: "\e712";
}

.icon-cry-filling:before {
  content: "\e713";
}

.icon-top-filling:before {
  content: "\e714";
}

.icon-home-filling:before {
  content: "\e715";
}

.icon-sorting:before {
  content: "\e716";
}

.icon-3column:before {
  content: "\e663";
}

.icon-column-4:before {
  content: "\e664";
}

.icon-add:before {
  content: "\e665";
}

.icon-add-circle:before {
  content: "\e666";
}

.icon-adjust:before {
  content: "\e667";
}

.icon-arrow-up-circle:before {
  content: "\e668";
}

.icon-arrow-right-circle:before {
  content: "\e669";
}

.icon-arrow-down:before {
  content: "\e66a";
}

.icon-ashbin:before {
  content: "\e66b";
}

.icon-arrow-right:before {
  content: "\e66c";
}

.icon-browse:before {
  content: "\e66d";
}

.icon-bottom:before {
  content: "\e66e";
}

.icon-back:before {
  content: "\e66f";
}

.icon-bad:before {
  content: "\e670";
}

.icon-arrow-double-left:before {
  content: "\e671";
}

.icon-arrow-left-circle:before {
  content: "\e672";
}

.icon-arrow-double-right:before {
  content: "\e673";
}

.icon-caps-lock:before {
  content: "\e674";
}

.icon-camera:before {
  content: "\e675";
}

.icon-chart-bar:before {
  content: "\e676";
}

.icon-attachment:before {
  content: "\e677";
}

.icon-code:before {
  content: "\e678";
}

.icon-close:before {
  content: "\e679";
}

.icon-check-item:before {
  content: "\e67a";
}

.icon-calendar:before {
  content: "\e67b";
}

.icon-comment:before {
  content: "\e67c";
}

.icon-column-vertical:before {
  content: "\e67d";
}

.icon-column-horizontal:before {
  content: "\e67e";
}

.icon-complete:before {
  content: "\e67f";
}

.icon-chart-pie:before {
  content: "\e680";
}

.icon-cry:before {
  content: "\e681";
}

.icon-customer-service:before {
  content: "\e682";
}

.icon-delete:before {
  content: "\e683";
}

.icon-direction-down:before {
  content: "\e684";
}

.icon-copy:before {
  content: "\e685";
}

.icon-cut:before {
  content: "\e686";
}

.icon-data-view:before {
  content: "\e687";
}

.icon-direction-down-circle:before {
  content: "\e688";
}

.icon-direction-right:before {
  content: "\e689";
}

.icon-direction-up:before {
  content: "\e68a";
}

.icon-discount:before {
  content: "\e68b";
}

.icon-direction-left:before {
  content: "\e68c";
}

.icon-download:before {
  content: "\e68d";
}

.icon-electronics:before {
  content: "\e68e";
}

.icon-drag:before {
  content: "\e68f";
}

.icon-elipsis:before {
  content: "\e690";
}

.icon-export:before {
  content: "\e691";
}

.icon-explain:before {
  content: "\e692";
}

.icon-edit:before {
  content: "\e693";
}

.icon-eye-close:before {
  content: "\e694";
}

.icon-email:before {
  content: "\e695";
}

.icon-error:before {
  content: "\e696";
}

.icon-favorite:before {
  content: "\e697";
}

.icon-file-common:before {
  content: "\e698";
}

.icon-file-delete:before {
  content: "\e699";
}

.icon-file-add:before {
  content: "\e69a";
}

.icon-film:before {
  content: "\e69b";
}

.icon-fabulous:before {
  content: "\e69c";
}

.icon-file:before {
  content: "\e69d";
}

.icon-folder-close:before {
  content: "\e69e";
}

.icon-filter:before {
  content: "\e69f";
}

.icon-good:before {
  content: "\e6a0";
}

.icon-hide:before {
  content: "\e6a1";
}

.icon-home:before {
  content: "\e6a2";
}

.icon-history:before {
  content: "\e6a3";
}

.icon-file-open:before {
  content: "\e6a4";
}

.icon-forward:before {
  content: "\e6a5";
}

.icon-import:before {
  content: "\e6a6";
}

.icon-image-text:before {
  content: "\e6a7";
}

.icon-keyboard-26:before {
  content: "\e6a8";
}

.icon-keyboard-9:before {
  content: "\e6a9";
}

.icon-link:before {
  content: "\e6aa";
}

.icon-layout:before {
  content: "\e6ab";
}

.icon-fullscreen-shrink:before {
  content: "\e6ac";
}

.icon-layers:before {
  content: "\e6ad";
}

.icon-lock:before {
  content: "\e6ae";
}

.icon-fullscreen-expand:before {
  content: "\e6af";
}

.icon-map:before {
  content: "\e6b0";
}

.icon-meh:before {
  content: "\e6b1";
}

.icon-menu:before {
  content: "\e6b2";
}

.icon-loading:before {
  content: "\e6b3";
}

.icon-help:before {
  content: "\e6b4";
}

.icon-minus-circle:before {
  content: "\e6b5";
}

.icon-modular:before {
  content: "\e6b6";
}

.icon-notification:before {
  content: "\e6b7";
}

.icon-mic:before {
  content: "\e6b8";
}

.icon-more:before {
  content: "\e6b9";
}

.icon-pad:before {
  content: "\e6ba";
}

.icon-operation:before {
  content: "\e6bb";
}

.icon-play:before {
  content: "\e6bc";
}

.icon-print:before {
  content: "\e6bd";
}

.icon-mobile-phone:before {
  content: "\e6be";
}

.icon-minus:before {
  content: "\e6bf";
}

.icon-navigation:before {
  content: "\e6c0";
}

.icon-pdf:before {
  content: "\e6c1";
}

.icon-prompt:before {
  content: "\e6c2";
}

.icon-move:before {
  content: "\e6c3";
}

.icon-refresh:before {
  content: "\e6c4";
}

.icon-run-up:before {
  content: "\e6c5";
}

.icon-picture:before {
  content: "\e6c6";
}

.icon-run-in:before {
  content: "\e6c7";
}

.icon-pin:before {
  content: "\e6c8";
}

.icon-save:before {
  content: "\e6c9";
}

.icon-search:before {
  content: "\e6ca";
}

.icon-share:before {
  content: "\e6cb";
}

.icon-scanning:before {
  content: "\e6cc";
}

.icon-security:before {
  content: "\e6cd";
}

.icon-sign-out:before {
  content: "\e6ce";
}

.icon-select:before {
  content: "\e6cf";
}

.icon-stop:before {
  content: "\e6d0";
}

.icon-success:before {
  content: "\e6d1";
}

.icon-smile:before {
  content: "\e6d2";
}

.icon-switch:before {
  content: "\e6d3";
}

.icon-setting:before {
  content: "\e6d4";
}

.icon-survey:before {
  content: "\e6d5";
}

.icon-task:before {
  content: "\e6d6";
}

.icon-skip:before {
  content: "\e6d7";
}

.icon-text:before {
  content: "\e6d8";
}

.icon-time:before {
  content: "\e6d9";
}

.icon-telephone-out:before {
  content: "\e6da";
}

.icon-toggle-left:before {
  content: "\e6db";
}

.icon-toggle-right:before {
  content: "\e6dc";
}

.icon-telephone:before {
  content: "\e6dd";
}

.icon-top:before {
  content: "\e6de";
}

.icon-unlock:before {
  content: "\e6df";
}

.icon-user:before {
  content: "\e6e0";
}

.icon-upload:before {
  content: "\e6e1";
}

.icon-work:before {
  content: "\e6e2";
}

.icon-training:before {
  content: "\e6e3";
}

.icon-warning:before {
  content: "\e6e4";
}

.icon-zoom-in:before {
  content: "\e6e5";
}

.icon-zoom-out:before {
  content: "\e6e6";
}

.icon-add-bold:before {
  content: "\e6e7";
}

.icon-arrow-left-bold:before {
  content: "\e6e8";
}

.icon-arrow-up-bold:before {
  content: "\e6e9";
}

.icon-close-bold:before {
  content: "\e6ea";
}

.icon-arrow-down-bold:before {
  content: "\e6eb";
}

.icon-minus-bold:before {
  content: "\e6ec";
}

.icon-arrow-right-bold:before {
  content: "\e6ed";
}

.icon-select-bold:before {
  content: "\e6ee";
}

.icon-arrow-up-filling:before {
  content: "\e6ef";
}

.icon-arrow-down-filling:before {
  content: "\e6f0";
}

.icon-arrow-left-filling:before {
  content: "\e6f1";
}

.icon-arrow-right-filling:before {
  content: "\e6f2";
}

.icon-caps-unlock-filling:before {
  content: "\e6f3";
}

.icon-comment-filling:before {
  content: "\e6f4";
}

.icon-check-item-filling:before {
  content: "\e6f5";
}

.icon-clock-filling:before {
  content: "\e6f6";
}

.icon-delete-filling:before {
  content: "\e6f7";
}

.icon-decline-filling:before {
  content: "\e6f8";
}

.icon-dynamic-filling:before {
  content: "\e6f9";
}

.icon-intermediate-filling:before {
  content: "\e6fa";
}

.icon-favorite-filling:before {
  content: "\e6fb";
}

.icon-layout-filling:before {
  content: "\e6fc";
}

.icon-help-filling:before {
  content: "\e6fd";
}

.icon-history-filling:before {
  content: "\e6fe";
}

.icon-filter-filling:before {
  content: "\e6ff";
}

.icon-file-common-filling:before {
  content: "\e700";
}

.icon-news-filling:before {
  content: "\e701";
}

.icon-edit-filling:before {
  content: "\e702";
}

.icon-fullscreen-expand-filling:before {
  content: "\e703";
}

.icon-smile-filling:before {
  content: "\e704";
}

.icon-rise-filling:before {
  content: "\e705";
}

.icon-picture-filling:before {
  content: "\e706";
}

.icon-notification-filling:before {
  content: "\e707";
}

.icon-user-filling:before {
  content: "\e708";
}

.icon-setting-filling:before {
  content: "\e709";
}

.icon-switch-filling:before {
  content: "\e70a";
}

.icon-work-filling:before {
  content: "\e70b";
}

.icon-task-filling:before {
  content: "\e70c";
}

